body {
    margin: 0px;
    padding: 0px;
    
    font-family: Helvetica, Arial, sans-serif;
    background: #f0f2f5;
}

main {
    display: flex;
    justify-content: space-between;

    width: 980px;
    
    margin: 0px auto;
    padding: 80px 0px 0px;
}

main section img {
    margin-top: 80px;
    margin-left: -28px;
    margin-bottom: -10px;

    position: relative;

    height: 106px;
}

main section h2 {
    color: #1c1e21;
    font-size: 28px;
    font-weight: normal;
    
    line-height: 32px;

    margin: 0px 0px 20px;

    width: 500px;
}

main section .Right {
    text-align: center;

    margin-top: 40px;
    padding: 10px 0px 24px;
    
    background-color: #fff;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1), 0px 8px 16px rgb(0, 0, 0, 0.1);
    
    border: none;
    border-radius: 8px;
}

main section .Right form {
    width: 396px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section .Right form p {
    margin: 0px;
    
    color: rgba(255, 0, 0, 0.6);
    font-size: 12px;
}

main section .Right form input[type=text], input[type=password] {
    margin: 6px 0px;
    padding: 14px 16px;
    
    width: 332px;
    height: 22px;

    background-color: #fff;

    border: 1px solid #dddfe2;
    border-radius: 6px;

    color: #1d2129;
    font-size: 17px;
}

main section .Right form input::placeholder {
    color: #90949c
}

main section .Right form input:focus {
    outline: none;

    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    
    caret-color: #1b74e4;
}

main section .Right form input:focus::placeholder {
    color: #bec3c9
}

main section .Right form input[type=submit] {
    margin: 6px 0px 0px;
    padding: 0px 16px;
    
    width: 364px;
    line-height: 48px;
    
    background-color: #1877f2;
    
    border: 1px solid #dddfe2;
    border-radius: 6px;
    
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

main section .Right form input[type=submit]:hover {
    background-color: #166fe5;
    
    cursor: pointer;
}

main section .Right a {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;

    display: block;
    padding-top: 16px;

    text-decoration: none;
}

main section .Right a:hover {
    text-decoration: underline;
}

main section .Right hr {
    margin: 20px 16px;

    border: 0px;
    border-bottom: 1px solid #dadde1;
}

main section .Right button {
    margin-top: 6px;
    padding: 0px 16px;

    background-color: #42b72a;

    color: #fff;
    font-size: 17px;
    font-weight: bold;

    line-height: 48px;

    border: none;
    border-radius: 6px;

    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

main section .Right button:hover {
    background-color: #36a420;
    
    border-color: #36a420;
}

main section p {
    text-align: center;

    margin: 28px 0px 0px;

    color: #1c1e21;
}

main section p a {
    text-decoration: none;
    
    color: #1c1e21;
    font-weight: 600;
}

main section p a:hover {
    text-decoration: underline;
}

article {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 432px;
    border-radius: 8px;

    background-color: #fff;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1), 0px 8px 16px rgb(0, 0, 0, 0.1);

    text-align: center;
}

article section {
    padding: 10px 16px;

    display: flex;
    justify-content: space-between;
}

article section div h1 {
    margin: 0px;

    color: #1c1e21;
    font-size: 32px;

    text-align: left;
    line-height: 38px;
}

article section div p {
    margin: 0px;

    color: #606770;
    font-size: 15px;

    line-height: 24px;
}

article section img {
    width: 24px;
    height: 24px;
}

article hr {
    margin: 0px;

    border: none;
    border-bottom: 1px solid #dadde1;
}

article form {
    padding: 16px;   
}

article form div {
    color: rgba(255, 0, 0, 0.6);
    font-size: 12px;
    
    margin-bottom: 12px;
}

article form input {
    background-color: #f5f6f7;
    
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    
    padding: 11px;
}

article form input:focus {
    outline: none;
}

article form input:focus::placeholder {
    color: #bec3c9;
}

article form input::placeholder {
    color: #90949c;
}

article form .Name {
    width: 399px;

    display: flex;
    justify-content: space-between;
}

article form .Name input {
    width: 170px;

    font-size: 15px;
    line-height: 16px;
}

article form .Account input[type=text], article form .Account input[type=password] {
    width: 375px;
    height: 16px;

    margin: 10px 0px 0px;
    padding: 11px;
    
    font-size: 14px;
    line-height: 16px;
    
    background-color: #f5f6f7;
}

article form .Options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-top: 15px;
}

article form .Options label {
    width: 100%;

    color: #606770;
    font-size: 12px;
    font-weight: normal;

    display: flex;
    align-items: center;
    
    padding: 2px 0px 4px;
}

article form .Options label i {
    font-size: 14px;
    
    margin-left: 4px;
}

article form .Options select {
    color: #1c1e21;
    font-size: 15px;
    
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    
    width: 125px;
    height: 36px;

    padding: 0px 8px;
}

article form .Options select:focus {
    outline: none;
}

article form .Options div {
    display: flex;
    align-items: center;

    border: 1px solid #ccd0d5;
    border-radius: 4px;

    width: 125px;
    height: 36px;
}

article form .Options div label {
    color: #1c1e21;
    font-size: 15px;
    
    width: 100%;
    
    padding-left: 10px;
}

article form .Options div input {
    margin-right: 10px;
}

article form p {
    color: #777;
    font-size: 11px;

    text-align: left;

    margin: 11px 0px;
}

article form p a {
    color: #385898;

    text-decoration: none;
}

article form p a:hover {
    text-decoration: underline;
}

article form input[type=submit] {
    width: 194px;
    height: 36px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;

    background-color: #00a400;

    border: none;
    border-radius: 6px;

    margin: 10px 0px;
    padding: 0px 32px;
}